.sidebar {
    padding: 0 20px;
    height: 100%;
    min-height: 100%;
    position: fixed;
    left: 0;
    max-width: 220px;
    border-radius: 0;
    background-color: #4D394B;
    border: none;
    color: #FFF;
    z-index: 10;
}

.sidebar h1 {
    font-size: 1.7rem;
    line-height: 1.375rem;
    font-weight: 600;
}

#rooms {
    list-style: none;
    padding: 0;
}

#rooms li {
    padding: 0 0 10px 0;
}

h4.rooms_title {
    width: 50%;
    float: left;
    font-size: 1.3rem;
}

.plus_outline {
    position: relative;
    top: 5px;
    float: right;
}

.plus_outline:hover {
    color: #FFF;
}

.new_room_wrapper {
    font-size: 1.8rem;
    color: #ab9ba9;
}

.messages_container {
    margin-left: 15.5%;
    width: 1220px;
    padding-right: 25px;
}

.row_wrapper {
    overflow: hidden;
}

.message_header_wrapper {
    padding-left: 105px;
}

.message_navbar {
    z-index: 0;
}

.current_room_name {
    margin: 10px 0;
}

div#chat_container {
    margin-top: 69px;
}

.user_image {
    border-radius: .2rem;
    width: 36px;
    height: 36px;
}

.name_and_time_wrapper {
    display: flex;
    font-size: 1.4rem;
}

.user_name {
    margin-right: 10px;
    font-weight: 900;
}

.message_content {
    font-size: 1.4rem;
    line-height: 2rem;
}

.message_wrapper {
    margin-bottom: 10px;
}

.user_image_wrapper {
    padding-right: 0;
    width: 4.333333%;
}

.name_time_and_message_wrapper {
    width: 95.666667%;
}