<div class="row">
    <div class="col-md-4 well sidebar">
        <h1>Bloc Chat</h1>
        
        <div class="new_room_wrapper">
            <h4 class="rooms_title">ROOMS</h4>
            <i id="trigger-overlay" class="ion-ios-plus-outline plus_outline" ng-click="toggleOverlay()"></i>
            <div style="clear:both;"></div>
        </div>
        
        <ul id="rooms">
            <li ng-repeat="room in allRooms">{{room.$value}}</li>
        </ul>  
    </div>
    
    <!--  Overlay  -->
    <div class="overlay overlay-hugeinc">
        <button type="button" class="overlay-close" ng-click="toggleOverlay()">Close</button>
        <nav>
            <ul>
                <form role="form" ng-submit="addRoom()">
                    <div class="form-group">
                        <label>Enter a room name</label>
                        <input type="text" class="form-control" ng-model="roomName">
                    </div>

                    <button type="button" class="btn btn-default" ng-click="toggleOverlay()">Cancel</button>
                    <button type="submit" class="btn btn-primary" ng-click="toggleOverlay()">Create room</button>
                </form>
            </ul>
        </nav>
    </div>
</div>
