<div class="row row_wrapper">
    <div class="col-md-4 well sidebar">
        <h1>Bloc Chat</h1>
        
        <div class="new_room_wrapper">
            <h4 class="rooms_title">ROOMS</h4>
            <i id="trigger-overlay" class="ion-ios-plus-outline plus_outline" ng-click="toggleOverlay(); autoFocus()"></i>
            <div style="clear:both;"></div>
        </div>
        
        <ul id="rooms">
            <li ng-repeat="room in allRooms" ng-click="setCurrentRoom(room)">{{room.name}}</li>
        </ul>  
    </div>
    
    <div class="col-md-8 col-md-offset-2 messages_container">
        <!--   Top Nav    -->
        <nav class="navbar navbar-default navbar-fixed-top message_navbar">
          <div class="container message_header_wrapper">
            <h1 class="current_room_name">Welcome {{currentUser}}!</h1>
          </div>
        </nav>
        
        <!--    Chat Window    -->
        <div id="chat_container" ng-repeat="message in currentMessages" ng-class="{'last_message_wrapper':$last}" ng-hide="currentRoomId === ''">
            <div class="row message_wrapper">
                <div class="col-md-1 user_image_wrapper">
                    <img src="/assets/images/black_and_white_me.jpg" alt="Jason Quaccia" class="img-responsive user_image">
                </div>
                
                <div class="col-md-11 name_time_and_message_wrapper">
                    <div class="name_and_time_wrapper">
                        <div class="user_name">{{message.username}}</div>
                        <div class="timestamp text-muted">{{message.sentAt | date}}</div>
                    </div>
                    
                    <div class="message_content">
                        {{message.content}}
                    </div>
                </div>
            </div>
        </div>
        
        <!--    Welcome Slider    -->
        <div id="welcome_slider_container" ng-hide="!currentRoomId === ''">
            <div id="carouselHacked" class="carousel slide carousel-fade" data-ride="carousel">

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <div class="carousel-caption carousel_caption_override">
                            Work <i class="fa fa-briefcase" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="item">
                        <div class="carousel-caption carousel_caption_override">
                            Talk <i class="ion-ios-chatboxes-outline" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="item">
                        <div class="carousel-caption carousel_caption_override">
                            Play <i class="ion-happy-outline" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>

                <!-- Controls -->
<!--
                <a class="left carousel-control" href="#" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
-->
            </div>
        </div>
        
        <!--   Bottom Nav    -->
        <nav class="navbar navbar-default navbar-fixed-bottom bottom_nav_wrapper">
          <div class="container message_input_wrapper">
            <div class="col-md-10">
                <input type="text" ng-model="newMessage" class="form-control message_input" on-enter="addNewMessage()">
            </div>
            <div class="col-md2">
                <button type="button" ng-click="addNewMessage()" class="btn btn-primary message_submit" ng-disabled="currentRoomId === ''">Submit</button>
            </div>
          </div>
        </nav>
    </div>
    
    <!--  New Room Overlay  -->
    <div class="overlay overlay-hugeinc">
        <button type="button" class="overlay-close" ng-click="toggleOverlay()">Close</button>
        <nav>
            <ul>
                <form role="form">
                    <div class="form-group">
                        <label>Enter a room name</label>
                        <input type="text" class="form-control overlay_input" ng-model="roomName">
                    </div>
                    
                    <section>
                       <nav class="cl-effect-1">
                           <a ng-click="toggleOverlay()">Cancel</a>
                           <a ng-click="toggleOverlay(); addRoom()">Create room</a>
                       </nav>
                    </section>
                </form>
            </ul>
        </nav>
    </div>
    
    <!--  Set Username Modal  -->
    <div class="md-modal md-effect-1" id="modal-1">
        <div class="md-content">
            <h3>Welcome to Bloc Chat!</h3>
            <div>
                <form name="userForm" ng-submit="validSubmit()" novalidate>
                    <div class="form-group" ng-class="{'has-error': userForm.username.$invalid && userForm.username.$touched}">
                        <label>Please choose a username:</label>
                        <input type="text" name="username" class="form-control setUsernameInput" ng-model="currentUsername" required ng-minlength="4">
                        <p ng-show="userForm.username.$error.required && userForm.username.$touched" class="help-block">A username is required.</p>
                        <p ng-show="userForm.username.$error.minlength && userForm.username.$touched" class="help-block">Username must be at least 4 characters long.</p>
                    </div>
                    
                    <section class="setUsernameBtn">
                       <nav class="cl-effect-1">
                           <button type="submit" class="md-close">Set Username</button>
                       </nav>
                    </section>
                </form>
            </div>
        </div>
    </div>
    
    <div class="md-overlay"></div><!-- the overlay element behind the modal -->
</div>